---
title: Kyle Corry
layout: default
---

<div class="profile-section">
  <img src="assets/images/profile.jpg" alt="Profile" class="profile" />
</div>

<p>
  My name is Kyle Corry, I am an Application Developer / Analyst at FM Global. I
  graduated from WPI in 2019 with a B.S. in Computer Science.
</p>

<div id="projects">
  <p class="bold">Projects</p>

  <div class="grid">
    <a href="https://github.com/kylecorry31/Trail-Sense" class="hidden-link">
      <img
        src="assets/images/projects/trail-sense.png"
        alt=""
        class="grid-logo"
      />
    </a>
    <a
      href="https://github.com/kylecorry31/ML4K-AI-Extension"
      class="hidden-link"
    >
      <img src="assets/images/projects/ml4k.svg" alt="" class="grid-logo" />
    </a>
    <a
      href="https://github.com/Gongoliers/Library-of-Gongolierium"
      class="hidden-link"
    >
      <img
        src="assets/images/projects/gongoliers.png"
        alt=""
        class="grid-logo"
      />
    </a>
    <a
      href="https://github.com/pop-os/gnome-shell-extension-do-not-disturb"
      class="hidden-link"
    >
      <img src="assets/images/projects/pop-os.png" alt="" class="grid-logo" />
    </a>
    <a href="https://github.com/kylecorry31/Stargazer" class="hidden-link">
      <img
        src="assets/images/projects/stargazer.png"
        alt=""
        class="grid-logo"
      />
    </a>
  </div>
</div>

<div class="spacer"></div>

<h2>Posts</h2>

<div class="center">
  <p class="inline">Filter by:</p>
  <select id="filter">
    <option value="all">All</option>
    {% for category in site.categories %}
    <option value="{{ category[0] | slugify }}"
      >{{ category[0] | replace: "-", " " | capitalize }}</option
    >
    {% endfor %}
  </select>
</div>

<ul>
  {% for post in site.posts %}
  <li
    class="post {% for category in post.categories %}post-{{ category | slugify }} {% endfor %}"
  >
    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
    {% for category in post.categories %}
    <p class="category category-{{ category | slugify }}">
      {{ category | replace: "-", " "}}
    </p>
    {% endfor %}
    <p>{{ post.excerpt | strip_html | truncate: 300 }}</p>
  </li>
  {% endfor %}
</ul>

<script src="/assets/js/post-filter.js"></script>
