.primary-green {
    background-color: #0bb12b !important;
}

.header {
    width: 100%;
}

h1 {
    margin: 0;
}

.white-text {
    color: white;
}

.header h1 {
    padding-top: 240px;
    margin-left: 16px;
}

.header h5 {
    padding-bottom: 32px;
    margin: 0;
    margin-left: 16px;
    margin-top: 16px;
}

.content {
    margin: 16px;
}

.img-responsive {
    width: 100%;
    height: auto;
}
