 @import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway');
 body, html {
   padding: 0;
   margin: 0;
   font-family: 'Open Sans', sans-serif;
   background: white;
 }

 /* NAVBAR */

 .navbar {
   background-color: white;
   max-width: 100%;
   padding-left: 1.5vw;
   padding-right: 1.5vw;
   height: 78px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   padding-top: 10px;
   padding-bottom: 10px;
   font-size: 15px;
 }

 .navbar .navbar-left {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-start;
   flex: 1 1 0px;
 }

 .navbar .navbar-center {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   flex: 1 1 0px;
 }

 .navbar .navbar-right {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-end;
   flex: 1 1 0px;
 }

 .navbar img {
   width: auto;
   height: auto;
   max-width: 100%;
   max-height: 62px;
   padding-top: 8px;
   padding-bottom: 8px;
 }

 .navbar a {
   color: rgba(130, 130, 130, .57);
   text-decoration: none;
   font-weight: 400;
   font-style: normal;
   font-size: 13px;
   letter-spacing: .14em;
   text-transform: uppercase;
   line-height: 1em;
   margin-left: 45px;
   transition: color 140ms cubic-bezier(.33, 0, .2, 1);
   text-align: center;
 }

 .navbar a:first-child {
   margin: 0;
 }

 .navbar a.active {
   color: rgb(130, 130, 130);
 }

 .navbar a:hover {
   color: rgb(130, 130, 130);
 }

 @media (max-width: 800px) {
   .navbar {
     flex-direction: column;
     height: 130px;
   }
 }

 /* MAIN */
 .content {
   padding-right: 1.5vw;
   padding-left: 1.5vw;
   padding-top: 68px;
   padding-bottom: 68px;
   background: white;
   max-width: 1080px;
   margin-right: auto;
   margin-left: auto;
 }

 .main {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: flex-start;
 }

 .about {
   max-width: 57.5%;
   width: 57.5%;
   padding-right: 2.5%;
 }

 .details {
   max-width: 37.5%;
   width: 37.5%;
   padding-left: 2.5%;
 }

 .details p {
   font-family: "Raleway";
   font-size: 15px;
   line-height: 1.6em;
   letter-spacing: .4px;
   font-weight: 400;
   font-style: normal;
   color: rgba(0, 0, 0, .5);
 }

 @media (max-width: 800px) {
   .main {
     flex-direction: column;
   }
   .about {
     max-width: 100%;
     width: 100%;
     padding-right: 0;
   }
   .details {
     max-width: 100%;
     width: 100%;
     padding-left: 0;
   }
 }

 h1 {
   font-family: "Raleway", sans-serif;
   font-size: 30px;
   font-weight: 300;
   font-style: normal;
   line-height: 2.18em;
   letter-spacing: 0em;
   text-transform: none;
   color: #222;
   margin-top: 0;
   margin-bottom: 0;
 }

 h3 {
   margin: 0.3em auto .3em;
   color: rgba(28, 28, 28, .8);
   font-family: "Raleway", sans-serif;
   font-size: 15px;
   line-height: 1.4em;
   text-transform: uppercase;
   letter-spacing: .05em;
   font-weight: 300;
   font-style: normal;
 }

 h4 {
   margin: 1.5em auto .3em;
   color: rgba(28, 28, 28, .8);
   font-family: "Raleway", sans-serif;
   font-size: 15px;
   line-height: 1.4em;
   text-transform: uppercase;
   letter-spacing: .05em;
   font-weight: 300;
   font-style: normal;
 }

 p {
   font-weight: 300;
   font-style: normal;
   font-size: 15px;
   line-height: 2em;
   letter-spacing: .06em;
   color: rgba(0, 0, 0, .5);
   text-rendering: optimizeLegibility;
 }

 .gallery {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: flex-start;
   flex-wrap: wrap;
 }

 .gallery-image {
   width: 25%;
   height: 25vw;
   overflow: hidden;
   position: relative;
   padding: 0;
   margin: 0;
 }

 @media (max-width: 800px) {
   .gallery-image {
     width: 50%;
     height: 50vw;
   }
 }

 @media (max-width: 500px) {
   .gallery-image {
     width: 100%;
     height: 100vw;
   }
 }

 .gallery-image img {
   width: 100%;
   height: 100%;
 }

 .gallery-image .title {
   display: flex;
   flex-direction: column;
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   margin: 0;
   padding: 0;
   width: 100%;
   height: 100%;
   text-align: center;
   justify-content: center;
   align-items: center;
   opacity: 0;
   transition: opacity 300ms cubic-bezier(.33, 0, .2, 1);
   font-weight: lighter;
   font-style: normal;
   font-size: 24px;
   line-height: 2em;
   letter-spacing: .06em;
   text-rendering: optimizeLegibility;
   background: white;
   text-transform: uppercase;
   color: black;
 }

 .gallery-image .title:hover {
   opacity: 0.95;
 }

 footer {
   width: auto;
   max-width: 1280px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   padding-top: 32px;
   padding-bottom: 32px;
   color: rgba(130, 130, 130, 0.57);
 }

 .content a, footer a {
   color: rgb(60, 60, 60);
   text-decoration: none;
 }

 .content a:hover, footer a:hover {
   text-decoration: underline;
 }

.center {
   text-align: center;
 }

 .book-download {
   border: 2px solid black;
   color: black !important;
   background-color: white;
   padding: 8px 16px;
   min-width: 80px;
   text-align: center;
   transition: 0.1s ease all;
   display: inline-block;
   text-transform: uppercase;
   margin-bottom: 32px;
 }

 .book-download:hover {
   background-color: black;
   color: white !important;
   text-decoration: none !important;
 }

.profile-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

 .profile {
   max-width: 100%;
   width: 300px;
   height: auto;
 }
