@import url("https://fonts.googleapis.com/css?family=Open+Sans");

body,
html {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    background: white;
}

@font-face {
    font-family: "2ProngTree";
    src: url("../fonts/2ProngTree.TTF");
}

/* NAVBAR */

#title,
#title a {
    text-align: center;
    text-transform: capitalize;
    font-family: "2ProngTree", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.14em;
    color: rgba(130, 130, 130, 0.8);
    text-decoration: none;
    transition: color 140ms cubic-bezier(0.33, 0, 0.2, 1);
}

#title a.active,
#title a:hover {
    color: rgb(100, 100, 100);
}

.inline {
    display: inline;
}

.hidden {
    display: none;
}

h1 {
    margin: 0;
    text-transform: none;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: 2.18em;
    letter-spacing: 0;
    color: #222;
    text-align: center;
}

h2 {
    margin: 0;
    text-transform: none;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 2.18em;
    letter-spacing: 0;
    color: rgba(28, 28, 28, 0.8);
    text-align: center;
}

h3 {
    margin: 0.3em auto 0.3em;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.4em;
    letter-spacing: 0.05em;
    color: rgba(28, 28, 28, 0.8);
}

li,
p {
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 2em;
    letter-spacing: 0.06em;
    color: #555;
    text-rendering: optimizeLegibility;
}

.category {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0px 4px;
    font-size: 10px;
    color: white;
    text-transform: uppercase;
    border-radius: 2px;
    margin: 0 4px 0 0;
}

.category-recipe {
    color: white;
    background-color: #9c27b0;
}

.category-app {
    color: white;
    background-color: #4caf50;
}

.category-maker {
    color: white;
    background-color: #ff9800;
}

.category-research {
    color: white;
    background-color: #3700b3;
}

.category-subnautica {
    color: black;
    background-color: #a0caff;
}

img {
    width: 100%;
    height: auto;
}

.content a,
.link {
    border-width: 0 0 1px 0;
    border-style: none none solid none;
    border-color: #c0c0c0;
    text-decoration: none;
    color: rgb(40, 40, 40);
}

.content a:hover,
.link:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

.profile {
    width: 200px;
    height: auto;
    max-width: 100%;
}

.bold {
    font-weight: bold;
}

.container-sm {
    max-width: 720px;
}

strong {
    font-weight: bold;
}

.app-badge {
    border: none !important;
}

.app-badge img {
    width: 200px;
}

.recipe {
    padding: 16px;
}

.recipe:hover,
.recipe:focus {
    background: rgba(0, 0, 0, 0.05);
}

.posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: 16px;
    align-items: center;
    justify-content: space-evenly;
}

.post a {
    border: none;
}

.post a:hover {
    color: inherit;
}

.recipe-category {
    border-bottom: 1px solid #f2f2f2;
    width: 100%;
    text-align: center;
    padding: 16px;
    border-top: 1px solid #f2f2f2;
    margin-top: 24px;
    text-transform: capitalize;
}

polaroid-photo {
    color: black !important;
}