$text-alpha: 0.5;
$text-header-alpha: 0.4;

.article {
    @extend .bottom-divider;
    display: inline-block;
    width: 100%;
}

.article-type {
    background-color: $color-primary-green;
    padding: 10px 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0 0 13px rgba(0, 0, 0, 0.36);
    width: 50%;
}

.article-type-news {
    @extend .article-type;
    background-color: #767676;
}

.article-type-update {
    @extend .article-type;
    background-color: #0066ff;
}

.article-type-route {
    @extend .article-type;
    background-color: #fd2626;
}

.article-date {
    background-color: $color-primary-green;
    padding: 10px 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0 0 13px rgba(0, 0, 0, 0.36);
    width: 50%;
}

.article-header {
    @extend .default-gutter;
    text-align: center;
    text-transform: uppercase;
    display: inline-flex;
    width: 100%;
}

.article-content {
    padding: 0;
}

.article-video {
    padding-bottom: $gutter / 2;
}

.article img,
.article-image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
    @extend .default-gutter;
}

.article:last-child {
    border: none;
}

.article p,
.article-text {
    @extend .default-gutter;
    font-size: $text-size-small;
    text-align: justify;
    color: transparentize(black, $text-alpha);
}

.article ul li {
  @extend .article-text;
  font-size: $text-size-small - 2;
}

.article header,
.article-title {
    @extend .default-gutter;
    text-align: center;
    text-transform: uppercase;
    color: transparentize(black, $text-header-alpha);
    margin: 0;
    font-size: $text-size-medium;
}

.article-title-non-uppercase {
    @extend .default-gutter;
    color: transparentize(black, $text-header-alpha);
    margin: 0;
    font-size: $text-size-medium;
}
