html,
body {
    margin: 0;
    padding: 0;
}

:root {
    --mdc-theme-primary: #0bb12b;
    --mdc-theme-accent: rgba(11, 177, 43, 0.54);
}

.hero {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    /*background-color: rgba(0, 0, 0, 0.05);*/
    min-height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-flow: row nowrap;
    /*flex-flow: column;*/
}

#blog-hero {
    background-image: url('../backgrounds/barn.jpg');
}

#home-hero {
    background-image: url('../backgrounds/sunrise.jpg');
}

#portfolio-hero {
    background-image: url('../backgrounds/fall.jpg');
}

#contact-hero {
    background-image: url('../backgrounds/mountains.jpg');
}

.content {
    margin: 24px;
    padding: 24px;
}

.img-centered {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.img-responsive {
    max-width: 100%;
}

.portfolio-entries {
    --mdc-layout-grid-margin: 0px;
    --mdc-layout-grid-gutter: 32px;
}

.portfolio-entry {
    display: inline-block;
}

.portfolio-entry a img {
    max-width: 100%;
}

code {
    background-color: #212121;
    display: block;
    color: white;
    padding: 16px;
    margin-bottom: 16px;
}

img {
    animation: colorize 3s ease-out, transOpacity 2s 0s ease-out;
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
}

@keyframes transOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}
