$color-primary-green: #0bb12b;
$body-text-color: rgba(0, 0, 0, 0.6);
$gutter: 16px;
$text-size-small: 18px;
$text-size-extra-small: 14px;
$text-size-medium: 22px;
$text-size-large: 28px;
$font-stack: 'Roboto', sans-serif;
$background-image: "../mountains.jpg";
$border-color: rgba(86, 86, 86, 0.25);


@import "material";
@import "kynav";
@import "pane";
@import "article";


body {
  background: url($background-image) no-repeat 100% 0 fixed;
  background-position: 50% 50%;
  background-size: cover;
  height: 100%;
  position: relative;
}

.bottom-divider {
    border-bottom: 1px solid $border-color;
}

.default-gutter {
    padding: $gutter / 2;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
    font-family: $font-stack;
}

p {
    margin: 0 !important;
}

a {
    color: $color-primary-green;
}

a:hover {
    text-decoration: none;
    color: darken($color-primary-green, 10%);
}

.extra-small {
  font-size: $text-size-extra-small !important;
}
